// ----------------
// Hide the back link when body does not have .js-enabled
// Any further such elements that require suppression can be added here
// ----------------

body:not(.js-enabled) {
    .govuk-back-link {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

.govuk-fieldset {
    .govuk-fieldset__legend-as-header {
        margin-bottom: 30px;
    }
    .govuk-hint {
        margin-bottom: 20px;
    }
}

.govuk-main-wrapper {
    padding-top: 20px;
}

body > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body > div > nav {
  flex-shrink: 0;
  order: 1;
}

body > div > a {
  order: 0;
}

body > div > main {
  width: 100%;
  order: 2;
}
