.print-link {
  display: none;
}

.js-enabled .print-link {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==");
  padding: 0.5em 0 0.5em 28px;
  zoom: 1;
}
@media print {
  .hmrc-language-select {
    display: none !important;
  }
  .govuk-back-link {
    display: none !important;
  }
  .hmrc-sign-out-nav {
    display: none !important;
  }

  .govuk-phase-banner {
    display: none !important;
  }
  .govuk-grid-column-two-thirds {
    width: 100%;
  }

  footer {
    display: none !important;
  }

}